.group01{
  border: 5px solid #0a3859;
  background-color: #ebf4f1;
  padding: 5px;
  margin: 15px;
  background-color: light green;
}

#summary {
  display: none;
  border: 3px;
  border-color: red;
}


.container {
  border: 5px solid #0a3859;
  background-color: #edf1f7;
  border-style: groove;
  padding: 15px;
  margin: 20px;
}

#button {
  margin: 20px;
}
