.group01{
  border: 5px solid #0a3859;
  padding: 5px;
  margin: 15px;
  background-color: light green;
}

#quote {
  display: none;
  border: 3px;
  border-color: red;

}

.container {
  border: 5px solid #0a3859;
  background-color: #dce6e8;
  border-style: groove;
  padding: 15px;
  margin: 20px;
}

.button {
  margin: 20px;
}
